body {
  background-color: #1b262c;
}

.flex-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-around;
  
  padding: 0;
  margin: 0;
  list-style: none;
}
.wrapper {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 5px;
  flex: 1 100%;
}


@media all and (min-width: 600px) {
  .aside { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
  .aside-1 { order: 1; } 
  .aside-2 { order: 3; }
}


.flex-item {
  background: #c9d1d3;
  padding: 5px;
  width: 350px;
  height: 70px;
  margin-top: 10px;
  line-height: 70px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;  
}

.flex-item1 {
  padding: 5px;
  width: 350px;
  height: 70px;
  margin-top: 10px;
  line-height: 70px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  
}